<main id="content" role="main" class="main">
  <a class="d-flex justify-content-start p-2 mb-5" href="/index.html">
    <img style="width: 8rem; height: 8rem" class="zi-2" src="/assets/5-asilde/logo/my-logo.png" alt="Image Description">
  </a>
  <div class="position-fixed top-0 end-0 start-0 bg-img-start"
       style="height: 32rem; background-image: url(/assets/card-6.svg);">
    <div class="shape shape-bottom zi-1">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
        <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
      </svg>
    </div>
  </div>

  <div class="container py-5 py-sm-7">
    <div class="mx-auto" style="max-width: 30rem;">
      <div class="card card-lg mb-5">
        <div class="card-body">
          <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()" class="js-validate needs-validation" novalidate>
            <div class="text-center">
              <div class="mb-5">
                <h1 class="display-5">Sign in</h1>
                <p>Don't have an account yet? <a href="mailto:msjahun@live.com">Contact admin</a></p>
              </div>
              <div class="d-grid mb-4">
                <button (click)="googlesignin()" type="button" class="btn btn-white btn-lg">
                  <span class="d-flex justify-content-center align-items-center">
                    Sign in with Google
                  </span>
                </button>
              </div>
              <span class="divider-center text-muted mb-4">OR</span>
            </div>

            <div class="mb-4">
              <label class="form-label" for="signinSrEmail">Your email</label>
              <input type="email" class="form-control form-control-lg" name="email" formControlName="email"
                     id="signinSrEmail" tabindex="1" placeholder="email@address.com" aria-label="email@address.com"
                     required="required">
              <span class="invalid-feedback">Please enter a valid email address.</span>
            </div>

            <div class="mb-4">
              <label class="form-label w-100" for="signupSrPassword" tabindex="0">
                <span class="d-flex justify-content-between align-items-center">
                  <span>Password</span>
                  <a class="nav-link lh-xl" routerLink="/forget-password" routerLinkActive="active">
                    Forgot Password?
                  </a>
                </span>
              </label>
              <div class="input-group input-group-merge">
                <input type="password" class="form-control form-control-lg" name="password"
                       formControlName="password" id="signupSrPassword" placeholder="8+ characters required"
                       aria-label="8+ characters required" required minlength="8">
                <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;" (click)="togglePasswordVisibility()">
                  <i id="changePassIcon" class="bi bi-eye"></i>
                </a>
              </div>
              <span class="invalid-feedback">Please enter a valid password.</span>
            </div>

            <div class="form-check mb-4">
              <input class="form-check-input" type="checkbox" value="" id="termsCheckbox">
              <label class="form-check-label" for="termsCheckbox">
                Remember me
              </label>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-sm">Sign in</button>
            </div>
          </form>
        </div>
      </div>

      <div class="position-relative text-center zi-1">
        <small class="text-body mb-4">This area is for AA Gwarzo 5-aside Arena staff and partners, if you came here by mistake,
          navigate to our website using this <a class="text-secondary" [href]="env.websiteLink">AA Gwarzo 5-aside Arena Web</a></small>
      </div>
    </div>
  </div>
</main>

