


  <main id="content" role="main" class="main">
    <a class="d-flex justify-content-start p-2 mb-5" href="/index.html">
      <img style="width: 8rem; height: 8rem" class="zi-2" src="/assets/5-asilde/logo/my-logo.png" alt="Image Description">
    </a>
    <div class="position-fixed top-0 end-0 start-0 bg-img-start"
         style="height: 32rem; background-image: url(/assets/card-6.svg);">
      <div class="shape shape-bottom zi-1">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
          <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
        </svg>
      </div>
    </div>

    <div class="container py-5 py-sm-7">
      <div class="mx-auto" style="max-width: 30rem;">
        <div class="card card-lg mb-5">
          <div class="card-body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleForgotPassword()" class="js-validate needs-validation" novalidate>
              <div class="text-center mb-5">
                <h1 class="display-5">Forgot Password</h1>
                <p>Enter your email address and we'll send you a link to reset your password.</p>
              </div>

              <div class="mb-4">
                <label class="form-label" for="forgotPasswordEmail">Your email</label>
                <input type="email" class="form-control form-control-lg" name="email" formControlName="email"
                       id="forgotPasswordEmail" tabindex="1" placeholder="email@address.com" aria-label="email@address.com"
                       required="required">
                <span class="invalid-feedback">Please enter a valid email address.</span>
              </div>

              <div class="d-grid mb-4">
                <button type="submit" class="btn btn-primary btn-lg">Send Reset Link</button>
              </div>

              <div class="text-center">
                <p>Remembered your password? <a class="nav-link lh-xl" routerLink="/login">Back to Sign in</a></p>
              </div>
            </form>
          </div>
        </div>

        <div class="position-relative text-center zi-1">
          <small class="text-body mb-4">This area is for AA Gwarzo 5-aside Arena staff and partners, if you came here by mistake,
            navigate to our website using this <a class="text-secondary" [href]="env.websiteLink">AA Gwarzo 5-aside Arena Web</a></small>
        </div>
      </div>
    </div>
  </main>
